<div class="container mt-3">
    <div class="row">
        <h2>Dynamic Form</h2>
    </div>
    <div *ngIf="dynamicForm && formConfig" class="row">
        
        <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
            <div *ngFor="let field of formConfig.fields">

                <div class="mb-3">
                    <label [for]="field.name" class="form-label">{{ field.label }}</label>
                    <ng-container [ngSwitch]="field.type">
                        <select *ngSwitchCase="'dropdown'" class="form-select" [id]="field.name"  [formControlName]="field.name">
                            <option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</option>
                        </select>
                    </ng-container>
                    
                </div>
                
                <div
                    *ngIf="dynamicForm.get(field.name)?.invalid && (dynamicForm.get(field.name)?.dirty || dynamicForm.get(field.name)?.touched)">
                    <small *ngIf="dynamicForm.get(field.name)?.errors?.['required']">{{ field.label }} is
                        required</small>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="dynamicForm.invalid">Submit</button>
        </form>

    </div>

</div>