<div class="container mt-3">
    <div class="row">
        <h2>Dynamic Form</h2>
    </div>
    <div *ngIf="dynamicForm && formConfig" class="mt-4 ">

        <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" class="row ">
            <div *ngFor="let field of formConfig.fields" class="col-lg-3 ">

                <ng-container [ngSwitch]="field.type">

                    <div *ngSwitchCase="'dropdown'"  >
                        <p >{{field.label}}</p>
                        <mat-form-field   appearance="outline"> 
                            <mat-select  [formControlName]="field.name">
                                <mat-option *ngFor="let option of field.options"
                                    [value]="option.value">{{option.label}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <ng-container *ngSwitchCase="'text'"  >
                         <p >{{field.label}}</p>
                        <mat-form-field appearance="outline" >
                            <input type="text" matInput [formControlName]="field.name">
                        </mat-form-field>
                    </ng-container>

                    <ng-container *ngSwitchCase="'number'"  >
                         <p >{{field.label}}</p>
                        <mat-form-field appearance="outline" >
                            <input type="number" matInput [formControlName]="field.name">
                        </mat-form-field>
                    </ng-container>


                    <ng-container *ngSwitchCase="'date'">
                         <p >{{field.label}}</p>
                        <mat-form-field appearance="outline" >
                            <input matInput [formControlName]="field.name" [placeholder]="'choose '+ field.label"
                                [matDatepicker]="picker">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </ng-container>

                </ng-container>

                <ng-container *ngIf="dynamicForm.get(field.name)?.errors && dynamicForm.get(field.name)?.touched"
                    [ngTemplateOutlet]="errorMsgTemplate"
                    [ngTemplateOutletContext]="{field,errors:getErrorList(field.name)}"></ng-container>

            </div>
            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary me-4">Submit</button>
            </div>
           
        </form>

        <ng-template #errorMsgTemplate let-field="field" let-errors="errors">

            <ng-container [ngSwitch]="errors[0]">

                <ng-container *ngSwitchCase="'required'">
                    <p class="error-msg">{{field.label}} is required</p>
                </ng-container>

                <ng-container *ngSwitchCase="'min'">
                    <p class="error-msg">{{field.label}} must be more than
                        {{dynamicForm.get(field.name)?.errors?.[errors[0]]?.['min']}}
                    </p>
                </ng-container>

                <ng-container *ngSwitchCase="'max'">
                    <p class="error-msg">{{field.label}} must be less than
                        {{dynamicForm.get(field.name)?.errors?.[errors[0]]?.['max']}}
                    </p>
                </ng-container>


            </ng-container>

        </ng-template>

    </div>

</div>