<div class="container mt-3">
    <div class="row">
        <h2>Dynamic Form</h2>
    </div>
    <div *ngIf="dynamicForm && formConfig" class="mt-4">

        <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
            <div *ngFor="let field of formConfig.fields">

                <ng-container [ngSwitch]="field.type">

                    <div *ngSwitchCase="'dropdown'" class="d-flex flex-row">
                        <p>{{field.label}}</p>
                        <mat-form-field>
                            <mat-select [formControlName]="field.name">
                                <mat-option *ngFor="let option of field.options"
                                    [value]="option.value">{{option.label}}</mat-option>
                            </mat-select>

                        </mat-form-field>

                    </div>

                    <ng-container *ngSwitchCase="'text'" class="d-flex flex-row">
                        <mat-label>{{field.label}}</mat-label>
                        <mat-form-field>

                            <input type="text" matInput [formControlName]="field.name">

                        </mat-form-field>


                    </ng-container>

                    <ng-container *ngSwitchCase="'number'" class="d-flex flex-row">
                        <mat-label>{{field.label}}</mat-label>
                        <mat-form-field>

                            <input type="number" matInput [formControlName]="field.name">

                        </mat-form-field>


                    </ng-container>


                    <ng-container *ngSwitchCase="'date'">
                        <mat-label>{{field.label}}</mat-label>
                        <mat-form-field>
                            <input matInput [formControlName]="field.name" [placeholder]="'choose '+ field.label" [matDatepicker]="picker">
                            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>


                    </ng-container>
                </ng-container>
                <ng-container *ngIf="dynamicForm.get(field.name)?.errors && dynamicForm.get(field.name)?.touched" [ngTemplateOutlet]="errorMsgTemplate"
                    [ngTemplateOutletContext]="{field,errors:getErrorList(field.name)}"></ng-container>

            </div>
            <button type="submit" class="btn btn-primary" >Submit</button>
        </form>

        <ng-template #errorMsgTemplate let-field="field" let-errors="errors">

            <ng-container [ngSwitch]="errors[0]">

                <ng-container *ngSwitchCase="'required'">
                    <p class="error-msg">{{field.label}} is required</p>
                </ng-container>

                <ng-container *ngSwitchCase="'min'">
                    <p class="error-msg">{{field.label}} must be more than
                        {{dynamicForm.get(field.name)?.errors?.[errors[0]]?.['min']}}
                    </p>
                </ng-container>

                <ng-container *ngSwitchCase="'max'">
                    <p class="error-msg">{{field.label}} must be less than
                        {{dynamicForm.get(field.name)?.errors?.[errors[0]]?.['max']}}
                    </p>
                </ng-container>


            </ng-container>

        </ng-template>

    </div>

</div>